.footer
  .footer__link
    %ul.footer__link__list
      %li.footer__link__list__li
        = link_to "#" do
          プライバシーポリシー
      %li.footer__link__list__li
        = link_to "#" do
          フリマ利用規約
      %li.footer__link__list__li
        = link_to "#" do
          特定商取引に関する表記
  .footer__bottom
    = link_to root_path, class:"footer__bottom__img-link" do
      = image_tag 'logo.png', class:"footer__bottom__img-link__img", :size =>'148x39', alt: 'img'
  %p.footer__text
    © FURIMA