= form_for @brands_category do |f|
  - if @brands_category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@brands_category.errors.count, "error")} prohibited this brands_category from being saved:"
      %ul
        - @brands_category.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :category_id
    = f.text_field :category_id
  .field
    = f.label :brand_id
    = f.text_field :brand_id
  .actions
    = f.submit 'Save'
