.account
  = render 'partial/new-header'
  .account-page
    .account-page__inner
      .account-page__inner__title
        = render "devise/shared/links"
      .account-page__inner__user-form
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field
            .field-label
              = f.label :メールアドレス
            .field-input
              = f.email_field :email, placeholder: "メールアドレス"
          .field
            .field-label
              = f.label :パスワード
            .field-input
              = f.password_field :password, autocomplete: "off",placeholder: "英数字７文字以上"

          .actions
            = f.submit "ログイン", class: 'btn'
  = render 'partial/new-footer'