%p#notice= notice

%p
  %b Postal code:
  = @address.postal_code
%p
  %b Prefecture:
  = @address.prefecture
%p
  %b City:
  = @address.city
%p
  %b Block:
  = @address.block
%p
  %b Building:
  = @address.building
%p
  %b Phone number:
  = @address.phone_number
%p
  %b User:
  = @address.user_id
%p
  %b Send first name:
  = @address.send_first_name
%p
  %b Send name:
  = @address.send_name
%p
  %b Send first name kana:
  = @address.send_first_name_kana
%p
  %b Send name kana:
  = @address.send_name_kana

= link_to 'Edit', edit_address_path(@address)
\|
= link_to 'Back', addresses_path
