= form_for @item do |f|
  - if @item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@item.errors.count, "error")} prohibited this item from being saved:"
      %ul
        - @item.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name,class:"main__content__item-name__name"
  .field
    = f.label :price
    = f.number_field :price
  .field
    = f.label :text
    = f.text_area :text
  .field
    = f.label :status
    = f.number_field :status
  .field
    = f.label :size
    = f.number_field :size
  .field
    = f.label :brand_id
    = f.text_field :brand_id
  .field
    = f.label :condition
    = f.number_field :condition
  .field
    = f.label :shipping_cost
    = f.number_field :shipping_cost
  .field
    = f.label :delivery_method
    = f.number_field :delivery_method
  .field
    = f.label :delivery_area
    = f.number_field :delivery_area
  .field
    = f.label :delivery_date
    = f.number_field :delivery_date
  .field
    = f.label :category_id
    = f.text_field :category_id
  .field
    = f.label :category_id
    = f.text_field :category_id
  .field
    = f.label :seller_id
    = f.number_field :seller_id
  .field
    = f.label :buyer_id
    = f.number_field :buyer_id
  .actions
    = f.submit 'Save'
