.top-main
 %section.top-main__visual
  .top-main__visual__content
   %h2.top-main__visual__content__subtitile
    %br
    人生を変えるフリマアプリ  
   %p.top-main__visual__content__text
    FURIMAはだれでもかんたんに出品・購入できる 
    %br
    フリマアプリです
   .top-main__visual__content__btn
    = link_to image_tag("app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", width: '180', alt: "サンプル画像", class:"app"), "/"
    = link_to image_tag("google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", width: '180', alt: "サンプル画像",class:"ggl"), "/"
   
 .top-main__introduction
  %h2.top-main__introduction__subtitle
   FURIMAが選ばれる3つの理由
  %ul.top-main__introduction__lists
   %li.top-main__introduction__lists__list
    .top-main__introduction__lists__list__pict
     %span.number
      1
     = image_tag("pict-reason-01.jpg",width: '260',alt: "サンプル画像")
    %h3.top-main__introduction__lists__list__text 
     %span.top-main__introduction__lists__list__text__span
      3分 
     ですぐに出品
    %p.top-main__introduction__lists__list__description
     スマホで入力するだけで簡単に出品できる！

   %li.top-main__introduction__lists__list
    .top-main__introduction__lists__list__pict
     %span.number
      2
     = image_tag("pict-reason-02.jpg",width: '260',alt: "サンプル画像")
    %h3.top-main__introduction__lists__list__text 
     %span.top-main__introduction__lists__list__text__span
      シンプル 
     で使いやすい
    %p.top-main__introduction__lists__list__description
     めんどくさい入力は必要なく、検索も購入もスムーズ！
   
   %li.top-main__introduction__lists__list
    .top-main__introduction__lists__list__pict
     %span.number
      3
     = image_tag("pict-reason-03.jpg",width: '260',alt: "サンプル画像")
    %h3.top-main__introduction__lists__list__text--c
     %span.top-main__introduction__lists__list__text--c__span
      手数料 
     業界最安
    %p.top-main__introduction__lists__list__description
     最大3%でお得に出品&購入！
     
 .top-main__middle
  .top-main__middle__inner
   %h2.top-main__middle__inner__subtitle
    会員数日本一位
   %p.top-main__middle__inner__text
    FURIMAは、フリマアプリで最も人気。
    %br
    出品・購入回数も業界最多です！
    %br
    ほしかったあの商品に出会えるかもしれません。
   .top-main__middle__inner__btn
    = link_to image_tag("app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", width: '180', alt: "サンプル画像", class:"app"), "/"
    = link_to image_tag("google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", width: '180', alt: "サンプル画像",class:"ggl"), "/"  
 .top-main__features
  %h2.top-main__features__head
   FURIMAの特徴
  .top-main__features__items
   .top-main__features__items__item
    = image_tag("icon-01.png",alt: "サンプル画像",class:"top-main__features__items__item__img")
    %h3.top-main__features__items__item__subtitle
     簡単に売り買いできる
    %p.top-main__features__items__item__detail
     スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
   .top-main__features__items__item
    = image_tag("icon-03.png",alt: "サンプル画像",class:"top-main__features__items__item__img")   
    %h3.top-main__features__items__item__subtitle
     売上金は即日振込みに対応
    %p.top-main__features__items__item__detail   
     午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
   .top-main__features__items__item
    = image_tag("icon-04.png",alt: "サンプル画像",class:"top-main__features__items__item__img")  
    %h3.top-main__features__items__item__subtitle
     様々な支払いに対応
    %p.top-main__features__items__item__detail
     お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
 
 
 
 .top-main__product__list
  %h2.top-main__product__list__title
   商品一覧 
  .top-main__product__list__box
   = link_to "/"  do
    .top-main__product__list__box__item
     = image_tag("pict-reason-01.jpg",  alt: "サンプル画像", class:"top-main__product__list__box__item__img")
     .top-main__product__list__box__item__body
      %h3.top-main__product__list__box__item__body__name product3
      .top-main__product__list__box__item__body__details
       %ul
        %li 30000円
        %li 
        = icon("fas","star",class: "icon")
        %li.text 0
       %p (税込)

   = link_to "/"  do
    .top-main__product__list__box__item
     = image_tag("pict-reason-01.jpg",  alt: "サンプル画像", class:"top-main__product__list__box__item__img")
     .top-main__product__list__box__item__body
      %h3.top-main__product__list__box__item__body__name product3
      .top-main__product__list__box__item__body__details
       %ul
        %li 30000円
        %li 
        = icon("fas","star",class: "icon")
        %li.text 0
       %p (税込)
   = link_to "/"  do
    .top-main__product__list__box__item
     = image_tag("pict-reason-01.jpg",  alt: "サンプル画像", class:"top-main__product__list__box__item__img")
     .top-main__product__list__box__item__body
      %h3.top-main__product__list__box__item__body__name product3
      .top-main__product__list__box__item__body__details
       %ul
        %li 30000円
        %li 
        = icon("fas","star",class: "icon")
        %li.text 0
       %p (税込)





