.wrapper
  = render 'partial/new-header'

  .main
    .main__content
      - if @item.errors.any?
        .main__content__error
          - @item.errors.full_messages.each do |message|
            %li= message
      = form_for @item do |f|
        .main__content__img-up
          .main__content__img-up__photo
            %span#label 出品画像
            %span#required 必須
          .main__content__img-up__text
            最大10枚までアップロードできます

          #image-box
            #previews
              - if @item.persisted?
                - @item.images.each_with_index do |image, i|
                  = image_tag image.url.url, data: { index: i }
            = f.fields_for :images do |i|
              .js-file_group{ data: {index: "#{i.index}"}}
                = i.file_field :url, class: 'js-file main__content__img-up__file__l__field__file'
              - if @item.persisted?
                = i.check_box :_destroy, data: { index: image.index }, class: 'hidden-destroy'
            - if @item.persisted?
              .js-file_group{ data: {index: "#{@item.images.count}"}}
                = file_field_tag :url, name: "item[images_attributes][#{@item.images.count}][url]", class: "js-file main__content__img-up__file__l__field__file"
                .js-remove 削除

        .main__content__item-name
          .main__content__item-name__name
            %span#label 商品名
            %span#required 必須
          = f.text_field :name, class: "main__content__item-name__form", placeholder: "40文字まで"
          .main__content__item-name__text
            %span#label 商品の説明
            %span#required 必須
          = f.text_area :text, class:"main__content__item-name__text__form", placeholder: "商品の説明（必須 1,000文字以内）", id: "textBox"
          .main__content__item-name__count
            .main__content__item-name__count__text 
              %span.showCnt 0
              %span /1000
        .main__content__item-detail
          .main__content__item-detail__label
            %span#grey-label 商品の詳細
          .main__content__item-detail__category
            %span#label カテゴリー
            %span#required 必須
            #category-select
          .main__content__item-detail__category
            %span#label サイズ
            %span#required 必須
            = f.select :size, Item.sizes.keys, {prompt: "選択してください"}, {class: "main__content__item-detail__select"}
          .main__content__item-detail__brand
            = f.fields_for :brand do |brand|
              %span#label ブランド
              %span#arbitrary 任意
              = brand.text_field :name, class: "main__content__item-detail__form", placeholder: "例）シャネル"
          .main__content__item-detail__status
            %span#label 商品の状態
            %span#required 必須
            = f.select :condition, Item.conditions.keys, {prompt: "選択してください"}, {class: "main__content__item-detail__select"}
        .main__content__item-delivery
          .main__content__item-delivery__label
            %span#grey-label 配送について
          .main__content__item-delivery__cost
            %span#label 配送料の負担
            %span#required 必須
            = f.select :shipping_cost, Item.shipping_costs.keys, {prompt: "選択してください"}, {class: "main__content__item-delivery__select", id:"delivery_charge"}
          .main__content__item-delivery__method
          .main__content__item-delivery__area
            %span#label 発送元の地域
            %span#required 必須
            = f.select :delivery_area, Item.delivery_areas.keys, {prompt: "選択してください"}, {class: "main__content__item-delivery__select"}
          .main__content__item-delivery__date
            %span#label 発送までの日数
            %span#required 必須
            = f.select :delivery_date, Item.delivery_dates.keys, {prompt: "選択してください"}, {class: "main__content__item-delivery__select"}
        .main__content__item-price
          .main__content__item-price__label
            %span#grey-label 価格（¥300〜9,999,999）
          .main__content__item-price__box
            .main__content__item-price__box__text
              %span#label 販売価格
              %span#required 必須
            .main__content__item-price__box__form
              %span.main__content__item-price__box__form__doll
                ¥
              = f.number_field :price, class: "main__content__item-price__box__form__form", placeholder: "0"
          .main__content__item-price__fee
            .main__content__item-price__fee__label
              %span.main__content__item-price__fee__label__text
                販売手数料（10%）
            %span.main__content__item-price__fee__price -
          .main__content__item-price__profit
            .main__content__item-price__profit__label
              %span.main__content__item-price__profit__label__text
                販売利益
            %span.main__content__item-price__profit__price -
        .main__content__btn
          = f.submit "出品する", class:"main__content__btn__submit"
          %button{type: "submit", class:"main__content__btn__write"}
            下書きに保存
          = link_to root_path do
            もどる
        .main__content__text
          %p
            禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。

  = render 'partial/new-footer'