= render "header"
.show-main
  .itembox
    .itembox__name
      .h1
        = @item.name
    .itembox__body
      .itembox__body__image
        .itembox__body__image__main
          - @item.images.first(1).each do |image| 
            = image_tag image.url.to_s,class: "itembox__body__image__main__photo"
        .itembox__body__image__sub
          .itembox__body__image__sub__thumb
            - @item.images.each do |image| 
              = image_tag image.url.to_s,class: "itembox__body__image__sub__thumb__photo"
    .itembox__price
      %a ¥
      = @item.price 
      .itembox__price__detail 
        (税込)送料込み
    .itembox__detail
      = safe_join(@item.text.split("\n"),tag(:br))
    .table 
      %table 
        %tbody
          %tr  
            %th
              出品者
            %td
              = @user.nickname
          %tr
            %th
              カテゴリー
            %td
              - @category.ancestors.each do |ancestor|
                = ancestor.name 
                %br
              = @category.name
          %tr
            %th
              ブランド
            %td
              - if @brand.name != ""
                = @brand.name
              - else
                無し
          %tr
            %th
              商品のサイズ
            %td
              = @item.size
          %tr
            %th
              出品の状態
            %td
              = @item.condition
          %tr
            %th
              配送料の負担
            %td
              = @item.shipping_cost
          %tr
            %th
              発送元の地域
            %td
              = @item.delivery_area
          %tr
            %th
              発送の目安
            %td
              = @item.delivery_date
    .itembox__btns
      .itembox__btns__contents-btn
        - if user_signed_in? && current_user.id == @item.seller_id
          .itembox__btns__contents-btn__seller-menu
            .itembox__btns__contents-btn__seller-menu__edit
              = link_to edit_item_path(@item) do
                編集
            .itembox__btns__contents-btn__seller-menu__destroy
              = link_to item_path(@item), method: "delete" do
                削除
        - else
          .itembox__btns__contents-btn__seller-menu__buy
            = link_to "購入", "#"
              
= render "footer"
