
.main-content__side
  .main-content__side__nav
    .main-content__side__nav__list
      .main-content__side__nav__list__item
        = link_to 'マイページ', user_path(current_user.id)
      .main-content__side__nav__list__item
        = link_to '出品する', new_item_path
      %h3.main-content__side__nav__list__head
        設定
    .main-content__side__nav__list
      .main-content__side__nav__list__item
        -if @card.blank?
          = link_to '支払い方法', new_credit_card_path
        -else
          = link_to '支払い方法', credit_card_path(@card)
      .main-content__side__nav__list__item
        = link_to "ログアウト", user_path(current_user.id), method: "delete"